
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    table{
        width: 100%;
        border-collapse: collapse;
    }
    table th,
    table td{
        font-size: 14px;
        padding: 10px 15px;
        border: solid 1px #ccc;
    }

    button{
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #01AB51;
        color: #fff;
        margin: 3px;
        padding: 10px 15px;
    }
    button.azul{
        background-color: #07a;
        color: #fff;
    }
    button:hover{
        opacity: 0.8;

    }
    input{
        border: solid 1px #ccc;
        border-radius: 4px;
        padding: 10px;
    }

    .tabelaEditavel {
        border:solid 1px;
        width:100%
    }
    
    .tabelaEditavel td {
        border:solid 1px;
    }
    
    .tabelaEditavel .celulaEmEdicao {
        padding: 0;
    }
    
    .tabelaEditavel .celulaEmEdicao input[type=text]{
        width:100%;
        border:0;
        background-color:rgb(255,253,210);
    }
